@model Cook_Book.Models.Food

@{
    ViewData["Title"] = "Details";
}

<h1 style="color:@Model.TextColor">
    @Html.DisplayFor(model => model.Name)
</h1>

<div>
    <hr />
    <dl class="row">

        
        <dd class = "col-sm-12">
            @Html.DisplayFor(model => model.Detail)
        </dd>


    </dl>


    <div>
        <iframe width="500" height="300" src="//@Model.Video" frameborder="0" allowfullscreen></iframe>
    </div>
    <div>
        @Html.Raw(Model.Recipe)

    </div>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
