@{
    ViewData["Title"] = "Home Page";

}

<div>
    <form method="get" action="@Url.Action("Search", "Foods")">

        <div class="onion-background">


            <div >

                <label for="search" style="height:50px !important; background-color:white;">Find Recipe</label>
                <input type="text" name="search" id="search" style="height:50px !important; background-color:white;" />
                <button type="submit" style="height:50px !important; background-color:white;"></button>

            </div>



        </div>
    </form>
</div>


