@{
    ViewData["Title"] = "Home Page";
}
<div data-track-source="page-region" data-track-location="above-the-fold" data-reactid="58">
    <span class="search-utility-hero-wrap" data-reactid="59">
    <div class="search-utility-hero" data-photo-lightness="dark" data-track-location="above-the-fold" data-track-source="page-region" 
         data-reactid="60"><strong class="find-a-recipe" data-reactid="61">
        Find a Recip
       e</strong><form action="/search/" autocomplete="off" class="search-utility-hero-form" method="get" data-reactid="62"><fieldset data-reactid="63"><input type="text" autocomplete="off" maxlength="100" name="terms" placeholder="Find a Recipe" value="" data-reactid="64"><button type="submit" value="Submit search" data-reactid="65">Search</button></fieldset></form><a class="advanced-search" href="/search/" title="Advanced Search" data-reactid="66">Advanced Search</a><a href="https://itunes.apple.com/app/apple-store/id312101965?pt=45076&amp;ct=Epicurious.com%20Homepage%20Search%20Moment&amp;mt=8" class="search-moment-video-link" rel="noopener noreferrer" target="_blank" data-reactid="67"><div class="photo-wrap" data-reactid="68"><picture class="component-responsive-image photo-wrap" data-reactid="69"><source media="(min-width: 1400px)" srcset="https://assets.epicurious.com/photos/54adba6319925f464b3ba00c/4:1/w_1944,h_486,c_limit/41-Onions.jpg, https://assets.epicurious.com/photos/54adba6319925f464b3ba00c/4:1/w_3888,h_972,c_limit/41-Onions.jpg 2x" data-reactid="70"><source media="(min-width: 1024px)" srcset="https://assets.epicurious.com/photos/54adba6319925f464b3ba00c/3:1/w_1458,h_486,c_limit/41-Onions.jpg, https://assets.epicurious.com/photos/54adba6319925f464b3ba00c/3:1/w_2916,h_972,c_limit/41-Onions.jpg 2x" data-reactid="71"><source media="(min-width: 768px)" srcset="https://assets.epicurious.com/photos/54adba6319925f464b3ba00c/9:4/w_1094,h_486,c_limit/41-Onions.jpg, https://assets.epicurious.com/photos/54adba6319925f464b3ba00c/9:4/w_2188,h_972,c_limit/41-Onions.jpg 2x" data-reactid="72"><source media="(min-width: 0px)" srcset="https://assets.epicurious.com/photos/54adba6319925f464b3ba00c/6:4/w_618,h_412,c_limit/41-Onions.jpg, https://assets.epicurious.com/photos/54adba6319925f464b3ba00c/6:4/w_1236,h_824,c_limit/41-Onions.jpg 2x" data-reactid="73"><img alt="41-Onions.jpg" src="https://assets.epicurious.com/photos/54adba6319925f464b3ba00c/6:4/w_618,h_412,c_limit/41-Onions.jpg" title="" data-reactid="74"></picture>
                                                </div></a></div></span></div>

    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </div>
